<head>
    <link rel="icon" href="../favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />
    <link href='../css/login.css' rel="stylesheet" type="text/css" />
    <link rel="icon" href="https://middleware-iconic.s3.ap-south-1.amazonaws.com/applogo.png" />
  
  
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" type="text/javascript"></script>
  
  <title>DrapeStory | Login</title>
  
  <body>
    <div class="login-page">
  
      <div class="form" id="login_section">
        <div class="clearfix">
          <h3 class="login_text">Login</h3>
        </div>
        <form class="login-form" action="/login" method="post">
          <input type="hidden" name="_token" value="{{csrf_token()}}"> 
          <div class="title-outer">
            <div class="loading">
            </div>
          </div>
          <label class="label-login">Enter your Shopify URL</label>
  
          <input type="text" name="shop" id="shop" required="" placeholder="shop-name.myshopify.com">
          <label class="label-error d-none" id="err-label">Please enter a valid shopify url.</label>
          <button type="submit" name="login" id="login">login</button>
        </form>
  
      </div>
    </div>
  
    <script>
      $("#shop").keyup(function (e) {
        var store = $(this).val().trim();
        var validate_store = /^(?:)[a-zA-Z0-9\-]*\.myshopify\.com[\/]?/.test(store);
        if (!validate_store) {
          $(this).addClass('error');
        } else {
          $(this).removeClass('error');
        }
  
      });
      $("#login").click(function (e) {
        let storeValue = $("#shop").val().trim();
        let validate_store = /^(?:)[a-zA-Z0-9\-]*\.myshopify\.com[\/]?/.test(storeValue);
      
        if(validate_store && storeValue !="") {
          $("#shop").removeClass('error');
          $("#err-label").addClass('d-none');
        } else {
          $("#shop").addClass('error');
          $("#err-label").removeClass('d-none');
          e.preventDefault();
          return false;
        }
        
        $("body").dimmer({
          closable: false,
          template: {
            dimmer: function () {
              return '<div class="ui inverted dimmer"><div class="ui large text loader">Loading</div></div>'
            }
          }
        }).dimmer('show');
      });
    </script>
  </body>
  
  </html>