@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: auto;
  padding: 5% 10px 0;

  margin: auto;
}

#login_section {
  position: relative;

  z-index: 1;
  background: #FFFFFF;
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0px 0px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.form {
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #607d8b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #6896ad;
}

.header-logo {
  text-align: center;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.login_text {
  margin: 0px 0px 20px 0px;
  text-transform: uppercase;
  font-weight: bold;
  color: #627777;
  font-size: 30px;
}

.login_log {
  height: 70px;
  background: #607D8B;
  padding: 11px;
  border-radius: 7px;
  margin-bottom: 24px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.error {
  border: 1px solid #ef5350 !important;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

body {
  background: #607d8b;
  /* fallback for old browsers */
}

.help_text {
  color: #607D8B;
  font-weight: bold;
}

.help_text:hover,
.help_text:active,
.help_text:focus {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

.label-login {
  color: #607d8b;
}

.label-error {
  color: #ef5350;
}

.title-outer {
  display: block;
}

.logo-image{
  width: 100%;
  height: 150px;
}

.loading {
  width: 100%;
  font-size: 36px;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 4.4px;
  text-transform: capitalize;
  overflow: hidden;
  line-height: 2;
}

.loading::before {
  color: rgb(120, 120, 120);
  content: attr(data-loading-text);
}